{% extends 'admin.njk' %}
{% block content %}
  <div class="recipeList">
    <form class="recipe" method="POST" action="/admin/recipes">
      <div class="detailRecipeHead">
        <h2>Criando receita</h2>
        <button type="submit">Salvar receita</button>
      </div>
      <div class="formRecipes">
        <div class="itemRecipe">
          <div>Nome da Receita</div>
          <input type="text" name="title">
        </div>
        <div class="itemRecipe">
          <div class="item_title">Imagem da receita</div>
          <input type="url" name="image" placeholder="https://">
        </div>
        <div class="itemRecipe">
          <div class="item_title">Ingredientes</div>
          <div id="ingredients">
            <div class="ingredient">
              <input type="text" name="ingredients[]" placeholder="Adicione os ingredientes separadamente">
            </div>
          </div>
          <span class="add_ingredient">
            Adicionar novo ingrediente</span>
        </div>
        <div class="itemRecipe">
          <div class="item_title">Modo de preparo</div>
          <div id="preparation">
            <div class="passo">
              <input type="text" name="preparation[]" placeholder="Adicione os passos separadamente">
            </div>
          </div>
          <span class="add_passo">
            Adicionar novo passo</span>
        </div>
        <div class="itemRecipe">
          <div class="item_title">Informações adicionais</div>
          <textarea name="information"></textarea>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}