{% extends 'admin.njk' %}
{% block content %}
  <div class="recipeList">
    <div class="detailRecipeHead">
      <h2>Receita: {{recipe.title}}</h2>
     
      <a href="/admin/recipes/{{recipe.recipeIndex}}/edit">Editar receita</a>
    </div>
    <div class="recipeIMG">
      <img src="{{recipe.image}}" alt="{{recipe.title}}">
    </div>
    <div class="recipeTitle">
      <h2>{{recipe.title}}</h2>
    </div>
    <div class="recipeAuthor">
      <p>por
        {{recipe.author}}</p>
    </div>

    <div class="ingredientes">
      <h2 class="title">Ingredientes
      </h2>
      <div class="content view">
        {% for ingredient in recipe.ingredients%}
          <li class="linhas">{{ingredient}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="preparation">
      <h2 class="title">Modo de preparo
      </h2>
      <div class="content view">
        {% for preparatio in recipe.preparation%}
          <li class="linhas">{{preparatio}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="information">
      <h2 class="title">Informações adicionais
      </h2>
      <div class="content view">
        <p class="paragrafInformation">{{recipe.information}}</p>
      </div>
    </div>
  </div>
{% endblock content %}