{% extends 'admin.njk' %}

{% block content %}
  <main class="recipesListAdmin">
    <div class="detailRecipeHead">
      <h2>Gerenciar receitas</h2>
      <a href="recipes/create">Criar nova receita</a>
    </div>
  <div class="block_recipes">
  {% for item in items %}
    <div id="{{items.indexOf(item)}}" class="block">
    <div class="gridImg">  
      <div class="block_img">
        <img src="{{item.image}}" alt="{{item.title}}">
      </div>
    </div> 
    <div class="gridDetail"> 
      <div class="block_title">
        <h2>{{item.title}}</h2>
      </div>
      <div class="block_author">
        <p>
          por
          {{item.author}}</p>
      </div>
      <div>
        <a href="recipes/{{items.indexOf(item)}}">Vizualizar</a>
      </div>
    </div>  
    </div>
  {% endfor %}
  </div>
{% endblock content %}