<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap">
  {% block head%}
    <title>FoodFy</title>
  {% endblock %}
</head>
<body>
  <header>
    <div class="header">
    <a href="/admin/recipes"> <img src="/assets/logow.png" alt="Logo FoodFy"></a>
    </div>
  </header>

  {% block content %}
  
  {% endblock content %}
  <script src="/admin.js"></script>
</body>
</html>