{% extends "layout.njk" %}

{% block head %}
<title>Home | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="intro">
            <h1>As melhores receitas</h1>
            <p>
                Aprenda a construir os melhores pratos 
                com receitas criadas por profissionaisdo mundo
                inteiro.
            </p>
        </div>
        <img src="assets/chef.png" alt="image-chef">
    </section>
    <div class="most_accessed">
        <h2>Mais Acessadas</h2>
        <div class="content">
            {% for recipe in recipes %}
             <div class="card">
                <img src="{{recipe.image}}" alt="image de burger">
                <h4>{{recipe.title}}</h4>
                <p>por {{recipe.author}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal-overlay"></div>
<div class="modal">
    <div class="img-recipes">
        <img src="assets/burger.png" alt="imagem de burger">
    </div>
    <div class="recipe-name">
        <p>Triplo burger bacon</p>
    </div>
    <div class="author-recipes">
        <p>por Jorge Relato</p>
    </div>
    <button class="close-modal"><p>fechar modal</p></button>
</div>
<script src="scripts.js"></script>

{% endblock %}