{% extends "layout.njk" %}

{% block head %}
<title>Receitas | Foodfy</title>
{% endblock %}

{% block content %}
    <div class="most_accessed">
        <div class="content">
            {% for recipe in recipes %}
            <div class="card" id="{{recipes.indexOf(recipes)}}">
                <img src="{{recipe.image}}" alt="image de burger">
                <h4>{{recipe.title}}</h4>
                <p>por {{recipe.author}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}