{% extends 'layout.njk' %}

{% block head %}
  <title>Receita</title>
{% endblock head %}

{% block content %}
  <div class="recipeList">
    <div class="recipeIMG">
      <img src="{{items.image}}" alt="{{items.title}}">
    </div>
    <div class="recipeTitle">
      <h2>{{items.title}}</h2>
    </div>
    <div class="recipeAuthor">
      <p>por {{items.author}}</p>
    </div>

    <div class="ingredientes">
      <h2 class="title">Ingredientes
        <span class="btn_mostrar">Mostrar</span>
      </h2>
      <div class="content view">
        {% for ingredient in items.ingredients%}
          <li class="linhas">{{ingredient}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="preparation">
      <h2 class="title">Modo de preparo
        <span class="btn_mostrar">Mostrar</span>
      </h2>
      <div class="content view">
        {% for preparatio in items.preparation%}
          <li class="linhas">{{preparatio}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="information">
      <h2 class="title">Informações adicionais
        <span class="btn_mostrar">Mostrar</span>
      </h2>
      <div class="content view">
        <p class="paragrafInformation">{{items.information}}</p>
      </div>
    </div>
  </div>  
{% endblock content %}