.recipes{
  max-width: 940px;
}
.block_recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 940px;
  margin: 0 auto 50px;
}

.main_title{
  font-size: 24px;
  color: var(--text-color);
  line-height: 28px;
  max-width: 940px;
  margin: 50px auto 20px;
}

.block_img img{
  width: 300px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
}

.block_title h2{
  margin: 20px 0 5px;
  font-size: 18px;
  color: var(--text-color);
}

.block_author p{
  font-size: 14px;
  color: var(--text-color-three);
}

/*----PAGERECEITA----*/
.recipeList {
  max-width: 940px;
  margin: 0 auto;
}

.recipeIMG img{
  height: 280px;
  width: 940px;
  border-radius: 15px;
  object-fit: cover;
}

.recipeTitle {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 4px;
}

.recipeAuthor{
  font-size: 20px;
  text-align: center;
  color: var(--text-color-three);
}

.ingredientes{
  margin-top: 50px;
}
.title{
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
}
.btn_mostrar{
  color: #999999;
  font-size: 12px;
  cursor: pointer;
}
.title + div{
  margin-bottom: 39px;
}
.content{
  color: #444444;
  font-size: 18px;
}

.view {
  display: none;
}