<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin | foodfy</title>
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href=""><img src="/assets/logo-white.png" alt="logo"></a>
        </div>
    </header>
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
    <script src="/scripts/addInput.js"></script>
</body>
</html>