{% extends "recipes/admin-layout.njk" %}

{% block content %}
<form action="/recipes" method="post">
    <div class="header_form">
        <button type="submit">Salvar receita</button>
        <h1>Criando Receitas</h1>
    </div>
    <div class="item">
        <div>Imagem da receita</div>
        <div>
            <input type="url" name="image_url" placeholder ="https://">
        </div>
    </div>
    <div class="item">
        <div>Nome da receita</div>
        <div>
            <input type="text" name="name" placeholder="nome da receita">
        </div>
    </div>
    <div class="item">
        <div>Ingredientes</div>
        <div id="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="" placeholder="ingredientes" />
            </div>
        </div>
        <button type="button" class="add-ingredient">adicionar novo ingrediente</button>
    </div>
    <div class="item">
        <div>Modo de preparo</div>
        <div id="preparation">
            <div class="preparation">
                <input type="text" name="preparations[]" value="" placeholder="modo de preparo" />
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo passo</button>
    </div>
    <div class="item">
        <div>Informaçoes adicionais</div>
        <div>
            <textarea name="informations" cols="30" rows="10"></textarea>
        </div>
    </div>
</form>
{% endblock content %}