{% extends "recipes/admin-layout.njk" %}

{% block content %}
<h1>Gerenciar Receitas</h1>
<div class="container_recipes">
    <div class="card">
        <div class="card_image">
            <img src="/assets/asinhas.png" alt="image assinhas">
        </div>
        <div class="card_recipes">
            <h2>Triple Bacon Burger</h2>
            <p>por Juliano Vieira</p>
            <span><a href="">visualizar</a></span>
        </div>
    </div>
    <div class="card">
        <div class="card_image">
            <img src="/assets/asinhas.png" alt="image assinhas">
        </div>
        <div class="card_recipes">
            <h2>Triple Bacon Burger</h2>
            <p>por Juliano Vieira</p>
            <a href="">visualizar</a>
        </div>
    </div>
</div>
{% endblock content %}